body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("Hollow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.header-content {
  text-align: center;
  padding: 20px;
}

.header-content h1 {
  font-size: 48px;
  color: #fff;
}

.header-content p {
  font-size: 18px;
  color: #fff;
}

.button {
  display: inline-block;
  background-color: #ff8c00;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff5e00;
}

main {
  margin: 40px 0;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 36px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #ff8c00;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#Contact{
  text-align: center;
  background-color: #000000;
  color: #e0e0e0;
  font-family: monospace;
}
